.footer-widgets {
	@extend %clearfix;

	a {

		&:hover,
		&:focus,
		&:active {

		}
	}

	.widget {

	}

	.widgettitle {

	}

	li {
		overflow: hidden;
		word-break: break-word;
	}
}

.site-footer {
  width:100% !important;
  padding-left:0 !important;
  padding-right:0 !important;
  color:#fff !important;
  overflow:hidden;

  .row{
    margin-left:0;
    margin-right:0;
  }

  .footer-logo{
    background: url('../../assets/images/logo.png') no-repeat center center;
    z-index:9999;
    margin:-10px 0 0;
    width:115px;
    height:115px;
    background-size: 115px 115px;
    text-indent:-99999em;
    @include breakpoint(small) {
      margin:-10px auto 0;

    }
  }

  .pre-footer{

    .contact-us{
      min-height:300px;
      background:$blue;
      border-bottom:20px solid $green;

    }

    .get-started{
      //background:red;
      background: url('../../assets/images/pattern-one.png') repeat 0 0;
      padding:40px 0;
      h3{
        margin:0;
        @include font-size(30);
        font-family: $LatoLight;
        color: $blue;
      }
      @include breakpoint(small) {
        .cta-button {
          margin: 30px 0 0;
          .hh-btn {
            width: 100%;
            display: block;
            text-align: center;
          }
        }
      }
    }

  }
  .footer{
    min-height:91px;
    background:$green;
    padding:0 0 20px 0;


    .footer-navigation,
    .logo-action-alliance,
    .logo-gold-commission{
      margin:30px 0 0;
      }
    .logo-gold-commission{
      padding:0 20px 0 0;
    }

    .logo-action-alliance,
    .logo-gold-commission{
      text-align:right;
      float:right;
      @include breakpoint(small) {
      width:100%;
        text-align:center;
      }
    }
  }
  .footer-bottom{
    min-height:91px;
    background:$dark_green;
    padding:20px 0;
    font-family: $LatoLight;
    color: #fff;
    @include font-size(17);

    @include breakpoint(small){
      width:100%;
      text-align:center;
    }

    .copyright{
      margin:40px 0 0 0;
      @include breakpoint(medium){
        @include font-size(15);
      }
      @include breakpoint(small){
        margin:20px 0;
      }
    }
    .campus{
      @include font-size(13);
      @include breakpoint(small){
        margin:20px 0;
      }
    }
  }

}

.landing-page .footer-bottom {
  min-height:61px;
  .copyright {
    margin: 0;
    padding: 0;
  }
}

.footer-navigation ul.menu {
  @extend %clearfix;
  @extend %unstyled-list;
  width: 100%;

  > .wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .menu-item {
    position: relative;
    display: inline-block;
    text-align: left;

    &:hover,
    &:focus,
    &:active,
    &.sfHover {

      > .sub-menu {
        left: auto;
        opacity: 1;
      }
    }
  }

  a {
    font-family: $LatoRegular;
    @include font-size(16);
    position: relative;
    display: block;
    color:#fff;
    padding:20px 10px;
    text-decoration: none;

    @include breakpoint(medium){
      @include font-size(14);
      padding:20px 5px;
    }
  }

  a:hover,
  a:focus,
  a:active,
  .current-menu-item > a,
  .sub-menu .current-menu-item > a:hover {
    color:#fff;
    text-decoration:none;
    background: $blue;
  }

  .sub-menu .current-menu-item > a {

  }

  > .menu-item > a {

  }

  .sub-menu {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 99;
    opacity: 0;
    transition: opacity .4s ease-in-out;
    background: $blue;
    width:200px;

    .menu-item{
      width:100%;
    }

    a {
      position: relative;
      color: #fff;
      padding:10px 10px;

      &:hover{
        background: $green;
        text-decoration: none;
      }
    }

    .sub-menu {

    }
  }

  > .first {

    > a {

    }
  }

  > .last {

    > a {

    }
  }
}