.footer-widgets {
	@extend %clearfix;

	a {

		&:hover,
		&:focus,
		&:active {

		}
	}

	.widget {

	}

	.widgettitle {

	}

	li {
		overflow: hidden;
		word-break: break-word;
	}
}

.site-footer {
  width:100% !important;
  padding-left:0 !important;
  padding-right:0 !important;
  color:#fff !important;
  overflow:hidden;

  .footer-logo{
    background: url('../../assets/images/logo.png') no-repeat center center;
    z-index:100;
    margin:-17px 0 0;
    width:115px;
    height:115px;
    background-size: 115px 115px;
    text-indent:-99999em;
    @include breakpoint(small) {
      margin:-10px auto 0;

    }
  }

  .pre-footer{
    overflow-x: hidden;
    font-family: $LatoRegular;

    .contact-us{
      min-height: 300px;
      background:$blue;
      letter-spacing: 2px;

      .row {
        position: relative;
      }

      .contact-us-links {
        padding-right: 15px;
        
        @include breakpoint(full) {
          margin-top: 85px;
          padding-right: 55px;
        }
        @include breakpoint(large) {
          margin-top: 85px;
          padding-right: 40px;
        }
        @include breakpoint(medium) {
          margin-top: 75px;
        }
        @include breakpoint(small) {
          margin-top: 50px;
          padding-right: 15px;
          height: 150px;
        }

        .contact-us-phone {
          color: #ffffff;
          font-weight: 100;
          font-family: $LatoLight;

          @include breakpoint(full) {
            font-size: 140%;
          }
          @include breakpoint(large) {
            font-size: 110%;
          }
          @include breakpoint(medium) {
            font-size: 100%;
            text-align: center;
          }
          @include breakpoint(small) {
            font-size: 100%;
            text-align: left;
          }

          .contact-us-phone-number {
            color: #ffffff;
            font-weight: 400;
            font-size: 120%;
            font-family: $LatoHeavy;
            position: relative;
            top: -3px;

            @include breakpoint(full) {
              margin-left: 10px;
              float: right;
            }
            @include breakpoint(large) {
              margin-left: 10px;
              float: right;
            }
            @include breakpoint(medium) {
              float: none;
              margin-left: 0px;
              top: 0;
            }
            @include breakpoint(tablet) {
              float: none;
              margin-left: 0px;
              top: 0;
            }
            @include breakpoint(small) {
              float: right;
              margin-left: 10px;
              top: -3px;
            }
          }
        }

        .contact-us-email {
          background: url('../images/arrow-right.png') no-repeat right;
          padding-right: 10%;
          margin-top: 20px;

          .contact-us-email-button {
            font-size: 160%;
            color: #ffffff;
            border-color: #dddddd;
            position: relative;
            z-index: 1;
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 10px 20px;

            &:hover {
              color: $green;
              border-color: $green;

              &:before {
                border-color: $green;
              }
            }

            @include breakpoint(full) {
              font-size: 190%;
            }
            @include breakpoint(medium) {
              font-size: 120%;
            }
            @include breakpoint(tablet) {
              font-size: 120%;
            }
            @include breakpoint(small) {
              font-size: 160%;
            }

            &:before {
              border-top: 1px solid #dddddd;
              content:"";
              margin: 0 auto;
              position: absolute;
              top: 30px;
              left: 0;
              right: 0;
              bottom: 0;
              width: 90%;
              z-index: -1;
              transition: all 0.1s ease-in-out;

              @include breakpoint(large) {
                top: 26px;

              }
              @include breakpoint(medium) {
                top: 22px;
              }
              @include breakpoint(small) {
                top: 26px;
              }
            }

            span {
              background: $blue;
              padding: 0 20px;

              @include breakpoint(medium) {
                padding: 0 10px;
              }

              .child-campus &{
                background:$child_blue;
              }

            }
          }
        }
      }

      .get-directions {
        display: block;
        position: relative;

        @include breakpoint(tablet) {
          height: 300px;
        }
        @include breakpoint(small) {
           height: 200px;
         }

        &:before, &:after {
          content: "";
          position: absolute;
          top: -1px;
          bottom: 0;
          left: 0;
          width: 1500px;

          @include breakpoint(full) {
            width: 1500px;
          }
          @include breakpoint(large) {
            width: 1000px;
          }
          @include breakpoint(medium) {
            width: 800px;
          }
          @include breakpoint(tablet) {
            width: 800px;
            top: 0;
          }
          @include breakpoint(xsmall) {
            width: 600px;
          }
        }

        &:before {
          background: url('../images/hh-map.png') no-repeat 0 0;
          z-index: 1;
          background-size: cover;
        }

        &:after {
          background: $blue;
          opacity: 0.4;
          z-index: 2;
        }

        .get-directions-link {
          font-size: 190%;
          letter-spacing: 3px;
          color: #ffffff;
          display: block;
          height: 160px;
          margin: 70px auto;
          float: right;
          position:relative;
          text-shadow: 0 0 20px #000000;
          z-index: 3;
          
          &:hover {
            color: $green;
            text-decoration: none;
          }

          @include breakpoint(full) {
            font-size: 190%;
          }
          @include breakpoint(large) {
            font-size: 170%;
          }
          @include breakpoint(medium) {
            font-size: 150%;
            letter-spacing: 1px;
            height: 100px;
            margin: 100px auto;

            img {
              width: 100px;
            }
          }
          @include breakpoint(tablet) {
            font-size: 150%;
            letter-spacing: 1px;
            height: 140px;
            margin: 0;
            padding: 75px 0;
            float: none;
            text-align: center;

            img {
              width: 140px;
            }
          }
          @include breakpoint(small) {
            height: 100px;
            font-size: 140%;
            padding: 50px 0;

            img {
              width: 100px;
            }
          }
          @include breakpoint(xxsmall) {
            font-size: 100%;
          }
        }
      }

      .css-arrow-right {
        width: 0;
        height: 0;
        border-top: 70px solid transparent;
        border-bottom: 70px solid transparent;
        border-left: 25px solid $blue;
        z-index: 10;
        position: absolute;
        top: 70px;
        left: 41.66667%;
        display: block;

        .child-campus &{
          border-left-color: $child_blue;
        }

        @include breakpoint(small) {
          display: none;
        }
      }

      .css-arrow-down {
        width: 0;
        height: 0;
        border-left: 70px solid transparent;
        border-right: 70px solid transparent;
        border-top: 25px solid $blue;
        z-index: 10;
        position: absolute;
        top: 200px;
        left: 6%;
        display: none;

        .child-campus &{
          border-top-color: $child_blue;
        }

        @include breakpoint(small) {
          display: block;
        }
      }

      .child-campus &{
        background:$child_blue;
        border-bottom:20px solid $child_green;
      }

    }

    .get-started{
      //background:red;
      background: url('../../assets/images/pattern-one.png') repeat 0 0;
      padding:30px 0;

      .child-campus &{
        background: url('../../assets/images/pattern-two.png') repeat 0 0;
      }

      h3{
        margin:0;
        @include font-size(30);
        font-family: $LatoLight;
        color: $blue;
        .child-campus &{
          color: $child_blue;

        }
      }
      @include breakpoint(small) {
        .cta-button {
          margin: 30px 0 0;
          .hh-btn {
            width: 100%;
            display: block;
            text-align: center;
          }
        }
      }
    }

  }
  .footer{
    min-height:91px;
    background:$green;
    padding:0 0 20px 0;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(34,34,34,1);
    -moz-box-shadow: 0px 3px 10px 0px rgba(34,34,34,1);
    box-shadow: 0px 3px 10px 0px rgba(34,34,34,1);

    .child-campus &{
      background:$child_green;
    }

    .footer-navigation,
    .logo-action-alliance,
    .logo-gold-commission{
      margin:30px 0 0;
      }
    .logo-gold-commission{
      padding:0 20px 0 0;
    }

    .logo-action-alliance,
    .logo-gold-commission{
      text-align:right;
      float:right;
      @include breakpoint(small) {
      width:100%;
        text-align:center;
      }
    }
  }
  .footer-bottom{
    min-height:91px;
    background:$dark_green;
    padding:20px 0;
    font-family: $LatoLight;
    color: #fff;
    @include font-size(17);

    .child-campus &{
      background:$child_dark_green;
    }

    @include breakpoint(small){
      width:100%;
      text-align:center;
    }

    .copyright{
      margin:40px 0 0 0;
      @include breakpoint(medium){
        @include font-size(15);
      }
      @include breakpoint(small){
        margin:20px 0;
      }
    }
    .campus{
      @include font-size(13);
      @include breakpoint(small){
        margin:20px 0;
      }
    }
  }

}

.landing-page .footer-bottom {
  min-height:61px;
  .copyright {
    margin: 0;
    padding: 0;
  }
}

.footer-navigation ul.menu {
  @extend %clearfix;
  @extend %unstyled-list;
  width: 100%;

  > .wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .menu-item {
    position: relative;
    display: inline-block;
    text-align: left;

    &:hover,
    &:focus,
    &:active,
    &.sfHover {

      > .sub-menu {
        left: auto;
        opacity: 1;
      }
    }
  }

  .hippa {
    max-width:115px;
    a{
      margin:-20px 0 0 0;
    }
  }

  a {
    font-family: $LatoRegular;
    @include font-size(16);
    position: relative;
    display: block;
    color:#fff;
    padding:20px 10px;
    text-decoration: none;

    @include breakpoint(medium){
      @include font-size(14);
      padding:20px 5px;
    }
  }

  a:hover,
  a:focus,
  a:active,
  .current-menu-item > a,
  .sub-menu .current-menu-item > a:hover {
    color:#fff;
    text-decoration:none;
    //background: $blue;
    .child-campus &{
      //background:$child_blue;
    }
  }

  .sub-menu .current-menu-item > a {

  }

  > .menu-item > a {

  }

  .sub-menu {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 99;
    opacity: 0;
    transition: opacity .4s ease-in-out;
    background: $blue;
    width:200px;

    .child-campus &{
      background:$child_blue;
    }

    .menu-item{
      width:100%;
    }

    a {
      position: relative;
      color: #fff;
      padding:10px 10px;

      &:hover{
        background: $green;
        text-decoration: none;

        .child-campus &{
          background:$child_green;
        }
      }
    }

    .sub-menu {

    }
  }

  > .first {

    > a {

    }
  }

  > .last {

    > a {

    }
  }
}