.site-header {
  //background:red;
  background: url('../../assets/images/pattern-one.png') repeat 0 0;
  overflow:hidden;

  .child-campus &{
    background: url('../../assets/images/pattern-two.png') repeat 0 0;
  }

  @include breakpoint(xsmall){
    width:100%;

  }

  .wrap{
    @include breakpoint(xsmall){
      width:100%;
    }
  }
  .logo{
    background: url('../../assets/images/logo.png') no-repeat center center;
    left:50%;
    position:absolute;
    z-index:9999;
    margin:-38px auto 0 -128px;
    width:255px;
    height:255px;
    text-indent:-99999em;

    .child-campus &{
      background: url('../../assets/images/child-campus-logo.png') no-repeat center center;
    }

    @include breakpoint(xsmall){
      float:left;
      margin: -22px 0 0;
      left:20px;
      width:150px;
      height:150px;
      background-size: 150px 150px;
    }
  }

  .ribbon {

    background:$green;
    width:100%;
    position: relative;
    margin-top: 48px;

    .child-campus &{
      background:$child_green;
    }

    @include breakpoint(xsmall){
      padding:0;
    }

    .container{
      padding:0;
    }

    .phone {
      color:#fff;
      float:left;
      text-align:left;
      @include font-size(21);
      padding:20px 40px;
      font-family: $LatoSemiBold;
      letter-spacing:3px;
      box-sizing:content-box;

//      position: absolute;
//      left:0;
//      top: 50%;
//      transform: translateY(-50%);

      @include breakpoint(small){
        @include font-size(15);
        letter-spacing:0px;
        line-height:4.1em;
      }
      @include breakpoint(xsmall){
        @include font-size(21);
        float:right;
        text-align:right;
        width:60%;
        padding:25px 25px 25px 0;
        right:0;
        left:auto !important;
        line-height:1.1em;
        height:auto !important;
      }

    }
    .call-us{
      float:right;
      padding:19px 40px;
      color:#fff;
      text-align:right;
      @include font-size(19);
      line-height:2.1em;
      font-family: $LatoSemiBold;
      box-sizing:content-box;


//      position: absolute;
//      top: 50%;
//      transform: translateY(-50%);
//      right:0;

      @include breakpoint(medium){
        @include font-size(15);
        line-height:2.1em;
      }

      @include breakpoint(xsmall){
        display:none;
        padding:0;
      }
    }
    .hidden{
      position: relative;
      display: block !important;

    }

  }
  .tagline{
    @include font-size(46);
    text-align: left;
    color: #2A367A;

    strong {
      font-weight:700;
      font-family: $BemboSemiBoldItalic !important;
    }

    @include breakpoint(medium) {
      @include font-size(35);
      padding-left:0 !important;
      padding-right:0 !important;
    }
    @include breakpoint(small) {
      @include font-size(25);
      float:right;
      text-align:right;
    }
    @include breakpoint(xsmall) {
        width:100%;
        margin:0;
        padding:10px 0 !important
      }
    }
  .tagline1{
    float:left;
  }
  .tagline2{
    float:right;
    text-align: right;

      @include breakpoint(small) {
          width: 240px;
      }
      @include breakpoint(xsmall) {
          width: 33.33333%;
      }
  }
    .landing-tagline {
        padding-left: 15px !important;
        padding-right: 15px !important;
        }
}

.title-area {
	float: left;
}

.site-title {
	line-height: 1;

	a {

		&:hover,
		&:focus,
		&:active {

		}
	}
}

.site-description {
	margin: 0 0 20px 0;
	line-height: 1;
}

.header-image {

	.site-description,
	.site-title {
		@extend %image-replacement;
		display: block;
	}
}

.header-widget-area {
	float: right;
}
