.home{

}

.featured-area{
    .container{
      bottom: 0;
      position: absolute;
      @include breakpoint(small) {
        width:100%;
      }
    }
    .slide-block{
      background: none repeat scroll 0 0 $blue;
      bottom: 0;
      position: absolute;
      right: 0;
      width: 40%;
      padding: 30px;

      @include breakpoint(small) {
        width:100%;
      }

      .child-campus &{
        background: none repeat scroll 0 0 $child_blue;
      }
    }
    .slide-block-content{
      p{

      }
      .slider-content{
        font-family: $BemboBoldItalic;
        @include font-size(22);
        color:#fff;
      }
      .slider-caption{
        font-family: $LatoLight;
        @include font-size(18);
        color:#fff;

      }
    }

}

.homepage-intro{
  padding: 0px 0;

  h2{

    color: $blue;
    @include font-size(32);
    font-family: $BemboSemiBoldItalic;
    margin:0;
    padding:0 0 10px;
    .child-campus &{
      color: $child_blue;
    }
  }
  .intro{

    font-family: $LatoRegular;
    @include font-size(13);
    color:#353535;

    h3{
      color: $blue;
      @include font-size(23);
      font-family: $BemboSemiBoldItalic;
      margin:0;
      padding:0 0 10px;
      .child-campus &{
        color: $child_blue;
      }
    }

  }

  .hh-btn{
    @include font-size(18);
    float:left;
  }
}

.program-icons {

  background: url('../../assets/images/pattern-one.png') repeat 0 0;
  padding:40px 0;
  //text-align:center;

  .child-campus &{
    background: url('../../assets/images/pattern-two.png') repeat 0 0;
  }

  h3{
    font-family: $LatoHeavy;
    @include font-size(25);
    color:$blue;
    text-transform: uppercase;
    margin:0 0 30px 0;
    .child-campus & {
      color:$child_blue;
    }
  }

  .program-col{
    width:20%;
    display:table;
    a{
      display: table-cell;
      vertical-align: middle;
    }

    .child-campus & {
      width:25%;
    }

    @include breakpoint(small){
      width:100%;
      float:left;
      margin:0 0 20px 0;
      .child-campus & {
        width:100%;
      }
    }
  }



  .program-btn{
    display:block;
    text-align:left;
    border: 0px;
    background: url('../../assets/images/icon-arrow-blue-right.png') 90% center no-repeat $blue;
    background-size:15px 40px;
    padding:25px 15px;
    color:#fff;
    min-height:100px;
    @include font-size(15);
    text-transform: uppercase;
    font-family: $LatoLight;

    .child-campus &{
      background-color: $child_blue;
    }

    @include breakpoint(medium) {
      @include font-size(13);

    }
    @include breakpoint(small){
      width:100%;
    }

    &:hover{
      color:$green;
      border-color: $green;
      text-decoration: none;
    }
  }

    /*
    .icon{
    display:inline-block;
  }

  .icon-mental-health {
    background: url('../../assets/images/icon-mental-health.png') center 0 no-repeat;
    background-size: 58px 80px;
    width: 58px;
    height: 80px;
    text-indent: -99999em;
    margin: 0 auto;
  }
  .icon-geriatrics {
    background: url('../../assets/images/icon-geriatrics.png') center 0 no-repeat;
    background-size: 76px 79px;
    width: 76px;
    height: 79px;
    text-indent: -99999em;
    margin: 0 auto;
  }
  .icon-substance-abuse {
    background: url('../../assets/images/icon-substance-abuse.png') center 0 no-repeat;
    background-size: 82px 79px;
    width: 82px;
    height: 79px;
    text-indent: -99999em;
    margin: 0 auto;
  }
  .icon-outpatient {
    background: url('../../assets/images/icon-outpatient.png') center 0 no-repeat;
    background-size: 91px 77px;
    width: 91px;
    height: 77px;
    text-indent: -99999em;
    margin: 0 auto;
  }
  .icon-all-programs {
    background: url('../../assets/images/icon-all.png') center 0 no-repeat;
    background-size: 150px 76px;
    width: 150px;
    height: 76px;
    text-indent: -99999em;
    margin: 0 auto;
  }

    display:block;
    background: transparent;
    border: 1px solid $blue;
    border-radius:0;
    padding:15px 20px;
    margin:20px 0;
    //min-height:225px;
    color: $blue;
    @include font-size(15);
    text-transform: uppercase;
    font-family: $LatoSemiBold;

    .child-campus &{
      //color: $child_blue;
      //border: 1px solid $child_blue;

    }
    */



}

.child-campus .program-btn{ }