.landing-page{
  background: url('../../assets/images/pattern-one.png') repeat 0 0;

  .site-header {
    .ribbon {
      position: relative;
      z-index: 100;

      .logo {
        @include breakpoint(small) {
          height: 128px;
          width: 128px;
          background-size: 128px 128px;
          margin: -19px auto 0 -64px;
        }
        @include breakpoint(xsmall) {
          float: none;
          left:50%;
          height: 128px;
          width: 128px;
          background-size: 128px 128px;
          margin: -19px auto 0 -64px;
        }
      }

      .landing-tagline,
      .tagline1 {
        color: #fff;
        float: left;
        text-align: left;
        @include font-size(23);
        padding: 20px 0px;
        font-family: $BemboSemiBold;
        text-transform: uppercase;
        //      position: absolute;
        //      left:0;
        //      top: 50%;
        //      transform: translateY(-50%);

        @include breakpoint(small) {
          @include font-size(15);
            letter-spacing: 0px;
          }

        @include breakpoint(xsmall){
          padding: 20px;
        }


        /*
        @include breakpoint(xsmall){
          @include font-size(21);
          float:right;
          text-align:right;
          width:60%;
          padding:25px 25px 25px 0;
          right:0;
          left:auto !important;
        }
        */

      }
      .tagline2 {
        float: right;
        text-align: right;
      }

    }
  }

  .landing-top{
    background: url('../../assets/images/landing-page-top.jpg') no-repeat center center;
    background-size:cover;
    position:relative;
    z-index:0;
    margin:-150px 0 0 0;
    height:550px;
    width:100%;
  }
  .landing-bottom{
    background: url('../../assets/images/landing-page-bottom.png') no-repeat center center;
    background-size:cover;
    position:relative;
    z-index:0;
    min-height:400px;
    width:100%;

    .button-group{
      h4{
        text-align:center;
        font-family: $LatoRegular;
        @include font-size(22);
        color:$blue;
        text-transform: uppercase;
        margin:40px 0 20px 0;
      }
      img{
        display:block;
        margin:0 auto;
      }

      .landing-continue{
        display:block;
        width:100%;
        height:50px;

        margin:20px 0 0;
        border:2px solid $blue;
        text-align:center;
        font-family: $LatoLight;
        @include font-size(19);
        padding:10px 60px 10px 10px;
        color:$blue;
        text-transform: uppercase;
        position:relative;

        @include breakpoint(medium) {
          @include font-size(16);
          line-height:30px;
        }

        @include breakpoint(small) {
          @include font-size(19);
        }

        span{
          display:block;
          height:46px;
          width:50px;
          //background: $blue;
          background: url('../images/arrow-right.png') no-repeat center center $blue;
          background-size:10px 20px;
          position:absolute;
          right:0;
          top:0;
        }

        &:hover{
          text-decoration:none;
        }
      }
    }


  }
  .landing-arrow{
    background: url('../../assets/images/landing-page-arrow.png') no-repeat center bottom;
    position:relative;
    z-index:120;
    height:80px;
    width:100%;
    margin: 0 0 -80px;
  }

  .content .entry-content{
    text-align:center;
    h2{
      font-family: $LatoHeavy;
      @include font-size(25);
      color:$blue;
      text-transform: uppercase;
      margin:0 0 30px 0;
      .child-campus & {
        color:$child_blue;
      }
    }
  }
}