.nav-primary{
  width:100%;
    //height:50px;
    background:$green;
    position: relative;
    z-index: 200;

  .child-campus &{
    background: $child_green;
  }

  .container{
    position:relative;
  }

  .slicknav_menu {
    display:none;
    background:none;

    @include breakpoint(tablet) {
      display:block;
    }

    .slicknav_btn {
      float: left;
      background:none;
    }

    .slicknav_nav .slicknav_row:hover,
    .slicknav_nav .slicknav_row a:hover,
    .slicknav_nav .menu-item a:hover{
      background:$blue;
      color:#fff;
      .child-campus &{
        background: $child_blue;
      }
    }

  }

  .search-toggle{
    background: url('../../assets/images/icon-search.png') no-repeat center center;
    height:103px;
    width:103px;
    position:absolute;
    right:0;
    top:-27px;
    z-index:999;
    text-indent:-99999em;

  }
  .search-form{
    width: 250px;
    position: absolute;
    background: $green;
    //padding: 20px 10px 10px 10px;
    padding: 0px;
    height:0px;
    right: 20px;
    overflow:hidden;
    .child-campus &{
      background: $child_green;
    }

    &.close{
      height:0;
    }

    input[type="search"]{
      width:65%;
      height:40px;
      padding:5px 10px;
      @include font-size(14);
      border:0px;
      margin: 20px 0 0 5%;
    }
    input[type="submit"]{
      width:25%;
      padding:0px 10px;
      margin: 20px 5% 0 0;
      height:40px;
      background:$blue;
      @include font-size(14);
      border:0px;
      font-family: $LatoRegular;
      color:#fff;
      .child-campus &{
        background: $child_blue;
      }
    }
  }

}

.genesis-nav-menu {
	@extend %clearfix;
	@extend %unstyled-list;
	width: 100%;
    padding:0 80px 0 0;

    @include breakpoint(tablet) {
      display:none;
    }
	
	> .wrap {
		padding-left: 0;
		padding-right: 0;
	}

	.menu-item {
		position: relative;
		display: inline-block;
		text-align: left;

		&:hover,
		&:focus,
		&:active,
		&.sfHover {

			> .sub-menu {
				left: auto;
				opacity: 1;
			}
		}
	}



	a {
        font-family: $LatoRegular;
        @include font-size(16);
		position: relative;
		display: block;
        color:#fff;
        padding:10px;
        text-decoration: none;
	}

    a:hover,
    a:focus,
    a:active,
    .current-menu-item > a,
    .sub-menu .current-menu-item > a:hover {
        color: $blue;
        text-decoration:none;
        background: none;
      .child-campus &{
        color: $child_blue;
        background: none;
        }
      }

    .hover-menu > a,
    .hover-menu > a:hover,
    .menu-item-has-children > a:hover{
      color:#fff;
      background:$blue;
      text-decoration:none;
      .child-campus & {
        background: $child_blue;
      }
    }


	.sub-menu {
		position: absolute;
		top: 100%;
		left: -9999px;
		z-index: 99;
		opacity: 0;
		transition: opacity .4s ease-in-out;
        background: $blue;
        width:240px;
        .child-campus &{
          background: $child_blue;
        }

      .menu-item{
        width:100%;
      }

		a {
			position: relative;
            font-family: $LatoLight;
            @include font-size(15);
            color: #fff;
            padding:7px 10px;

          &:hover{
            background: $green;
            text-decoration: none;
            .child-campus &{
              background: $child_green;
            }
          }
		}

		.sub-menu {
          left:240px !important;
          top:0px !important;

		}
	}

	> .first {

		> a {

		}
	}

	> .last {

		> a {

		}
	}
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}