.hh-btn{
  display:inline-block;
  background: transparent;
  color: $blue;
  border: 1px solid $blue;
  border-radius:0;
  padding:15px 20px;
  margin-top:15px;
  @include font-size(21);
  text-transform: uppercase;
  font-family: $LatoSemiBold;
  .child-campus &{
    color:$child_blue;
    border-color: $child_blue;
  }
  &:hover{
    color:$green;
    border-color: $green;
    text-decoration: none;
    .child-campus &{
      color:$child_green;
      border-color: $child_green;
    }
  }

  &.green{
    color:$green;
    border-color: $green;
    .child-campus &{
      color:$child_green;
      border-color: $child_green;
    }
    &:hover{
      color: $blue;
      border: 1px solid $blue;
      .child-campus &{
        color:$child_blue;
        border-color: $child_blue;
      }
    }
  }
}