.sidebar {

	a {

	}

	p:last-child {
		margin: 0;
	}

	li {
		overflow: hidden;
		word-break: break-word;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.widget {
		overflow: hidden;
        padding:25px;
        background: $blue;
        color:#fff;
        .child-campus &{
          background: $child_blue;

        }
        a{
          color:#fff;
        }

	}

	.widgettitle {

		a {

		}
	}
}