.sidebar {

	a {

	}

	p:last-child {
		margin: 0;
	}

	li {
		overflow: hidden;
		word-break: break-word;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.widget {
		overflow: hidden;
        padding:20px;
        background: $blue;
        color:#fff;
        margin:0 0 20px 0;


        .child-campus &{
          background: $child_blue;

        }
        a{
          color:#fff;
        }

	}

	.widgettitle {

		a {

		}
	}

  .page-navigation h3{
    font-family: $LatoLight;
    @include font-size(16);
    color:#fff;
    text-transform:uppercase;
    padding:20px;
    border:1px solid #fff;
    margin:0 0 20px 0;
    text-align:center;
  }

  .page-navigation ul li{
    list-style: none;
    font-family: $LatoLight;
    @include font-size(16);
    color:#fff;
    margin:0 0 5px;
  }

}